.userContainer{
/* background-color: aliceblue; */
/* margin-bottom: 20px; */
width: 90%;
height: 80px;
display: flex;
flex-direction: row;
margin: 10px;
border: 1px solid rgb(213, 212, 212);
}
.btn-userbox{
    background-color: blue;
    border: none;
    width: 90px;
    height: 30px;
    border-radius: 10px;
    font-size: medium;
    color: white;
    /* position: relative;
    right: 10px; */
    /* right: end; */
}
.user-info{
    width: 100%;
}
.user-btn{
  position: relative;
    left: 70%;   
}
.unfollow{
    background-color: white;
    color: blue;
    border: 1px blue solid;
}